<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="sign-in-container">
      <h1 class="sign-in-title">Sign in</h1>
      <form class="sign-in-form" action="/auth/sign-in" method="POST">
        <div class="sign-in-field">
          <label for="username" class="sign-in-label">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            class="sign-in-input"
            required
          />
        </div>
        <div class="sign-in-field">
          <label for="password" class="sign-in-label">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="sign-in-input"
            required
          />
        </div>
        <button type="submit" class="sign-in-button">Sign in</button>
      </form>
    </div>
  </body>
</html>
