<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="sign-up-container">
      <h1 class="sign-up-title">Create a new account!</h1>
      <form class="sign-up-form" action="/auth/sign-up" method="POST">
        <div class="sign-up-field">
          <label for="username" class="sign-up-label">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            class="sign-up-input"
            required
          />
        </div>
        <div class="sign-up-field">
          <label for="password" class="sign-up-label">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="sign-up-input"
            required
          />
        </div>
        <div class="sign-up-field">
          <label for="confirmPassword" class="sign-up-label"
            >Confirm Password:</label
          >
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            class="sign-up-input"
            required
          />
        </div>
        <button type="submit" class="sign-up-button">Sign up</button>
      </form>
    </div>
  </body>
</html>
