<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="edit-container">
      <h1 class="edit-title">Edit Item</h1>
      <form
        class="edit-form"
        action="/users/<%= user._id %>/foods/<%= pantry._id %>?_method=PUT"
        method="POST"
      >
        <div class="edit-field">
          <label for="name" class="edit-label">Name:</label>
          <input
            type="text"
            name="name"
            id="name"
            class="edit-input"
            value="<%= pantry.name %>"
            required
          />
        </div>
        <button type="submit" class="edit-button">Update Food Item</button>
      </form>
    </div>
  </body>
</html>
